

* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family:'Gill Sans', 'Gill Sans MT', calibri , 'Trebuchet MS', sans-serif;
  color: seagreen;
  background-color: rgb(225, 233, 245);
}

html {
  scroll-behavior: smooth;
}

header{
  background-color: rgb(225, 233, 245);
  padding: .5rem;
}


h1{  /*flex?*/
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  justify-content: flex-start;
  padding:.0 .5rem .5rem .5rem;

}


nav ul{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: .5rem .5rem 0 .5rem;
}

nav a {
  font-size: 1rem;
  padding: .5rem;
  text-decoration: none;
}



main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.ptarmigan{
  display: flex;
  width:100vw;
  height: auto;
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1rem;
  }

.about {
  margin-top: .5rem;
}

.work-flexbox1{
  justify-content: center;
  margin: 0 auto;
  width: 100vw;
  height: 70vh;
  flex-flow: row wrap;
  display: flex;
}

.work-flexbox2{
  justify-content: center;
  margin: 0 auto;
  width: 100vw;
  flex-flow: row wrap;
  display: flex;
}

.card1 {
  display: flex;
  justify-content: flex-start;
  border-style: solid;
  border-width: 2px;
  box-shadow: 3px 3px 6px  #aaaaaa;
  margin: 10px;
  width: calc(50vw - 20px);
  height: calc(66vh - 20px);
  flex-direction: column;
  position: relative;
  flex-wrap: wrap;
}

.card2 {
  display: flex;
  justify-content: flex-start;
  border-style: solid;
  border-width: 2px;
  padding: 1px;
  box-shadow: 3px 3px 6px  #aaaaaa;
  margin: 10px;
  width: calc(25vw - 20px);
  height: calc(33vh - 20px);
  flex-direction: column;
  position: relative;
  flex-wrap: wrap;
}


.card1 figure img{
  position: absolute;
  width: calc(50vw - 24px);
    height: calc(66vh - 24px);
    margin: 0;
  
}

.card2 figure img{
  position: absolute;
  width: calc(25vw - 24px);
    height: calc(33vh - 24px);
    margin: 0;
  
}


.card1 aside {
  position: absolute;
  width: 12vw;
  height: 10vh;
  bottom: 8px;
  left: 0px;  
}

.card1 aside,
          h3,
    small{ 
  
  color: seagreen;
  background-color: rgb(225, 233, 245);
  text-align: center;
  padding: 0 8px 0 8px;
 }


 .card2 aside {
  position: absolute;
  width: 12vw;
  height: 10vh;
  bottom: 8px;
  left: 0px;  
}

.card2 aside,
          h3,
    small{ 
  
  color: seagreen;
  background-color: rgb(225, 233, 245);
  text-align: center;
  padding: 0 8px 0 8px;
 }
        
        


/*.card2 .link{
position: absolute;
width: calc(25vw - 30px);
bottom: 7px;
right: 10px;
text-align: center;
}

.card2 header{
  padding: 1px;
  display: flex;
  justify-content: center;
}


.card2img{
    width: 70%;
    height: 70%;
    margin: 5px auto;
}
*/


@media screen and (max-width: 500px) {
  .card1 {
    width: calc(100vw - 20px);
  }
  .card2 {
    width: calc(50vw - 20px);
  }
}